.lt_main{
    >.lt_parent{
        #OA_task_2{
            .mui-media-body{
                font-size:13px;
                a{
                    color:inherit;
                    .cart_price{
                        b{
                            font-size:18px;
                            color:#f00;
                        }
                        span{
                            float: right;
                            margin-right:30px;
                        }
                    }
                    input{
                        position: absolute;
                        left:0;
                        bottom:0;
                    }
                }
                
            }
        }
    }
}

.proSize{
    span{
        display:inline-block;
        width:30px;
        height:30px;
        border:1px solid #ccc;
        line-height: 30px;
        text-align: center;
        margin-top:5px;
        &.active{
            background-color: #ff0;
        }
    }
}