.lt_main {
    .cate_left {
        width: 100px;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        // background-color: red;
        ul{
            width: 100%;
            >li{
                width:100%;
                border-right:1px solid #ccc;
                >a{
                    width:100%;
                    height:45px;
                    line-height: 45px;
                    display: block;
                    text-align: center;                    
                    border-bottom:1px solid #ccc;
                    color:#aaa;  
                    color: inherit;                 
                }
                &.cate_active{
                    border-right:none;
                    color:#f00;
                    background-color: #fff;  
                }
            }
            
        }
    }
    .cate_right {
        height: 100%;
        overflow: hidden;
        position: relative;
        background-color: #fff; 
        ul{
            width:100%;
            list-style: none;
            display:flex;
            flex-wrap: wrap;
            padding:10px;
            >li{
                width:25%;
                text-align: center;               
                >a{
                    display:block;
                    width:100%;
                    >img{
                        width:100%;
                        // display:block;
                    }
                }
            }
        }
    }
}